@import url("https://fonts.google.com/specimen/Josefin+Sans");
:root {
	--lt-bright-blue: hsl(220, 98%, 61%);
	--lt-very-light-grey: hsl(0, 0%, 98%);
	--lt-very-light-GB: hsl(236, 33%, 92%);
	--lt-light-GB: hsl(233, 11%, 84%);
	--lt-dark-GB: hsl(236, 9%, 61%);
	--lt-very-dark-GB: hsl(235, 19%, 35%);
	--dt-very-dark-blue: hsl(235, 21%, 11%);
	--dt-very-dark-DB: hsl(235, 24%, 19%);
	--dt-light-GB: hsl(234, 39%, 85%);
	--dt-light-GB-hover: hsl(236, 33%, 92%);
	--dt-dark-GB: hsl(234, 11%, 52%);
	--dt-very-dark-GB: hsl(233, 14%, 35%);
	--dt-very-dark-GB2: hsl(237, 14%, 26%);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	overflow: hidden;
}

body {
	width: 100vw;
	height: 100vh;
	font-family: "Josefin Sans", sans-serif;
	font-weight: 400;
	background: url(/images/bg-mobile-light.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: 100% 220px;
	color: var(--lt-very-dark-GB);
}

.container {
	margin: 0 auto;
	max-width: 540px;
	padding: 48px 25px;
}

.btn {
	font-size: inherit;
	font-family: inherit;
}

/*  ------ HEADER ------------- */
.header {
	display: flex;
	justify-content: space-between;
}
.app-name {
	font-weight: 700;
	font-size: 2em;
	color: var(--lt-very-light-grey);
	text-transform: uppercase;
	letter-spacing: 5px;
	text-decoration: none;
	cursor: pointer;
}
.theme-btn {
	background-image: url(/images/icon-moon.svg);
	background-color: transparent;
	border: none;
	height: 26px;
	width: 26px;
	cursor: pointer;
}
/*  ------ HEADER END ------------- */
/*  ------ TODO  ------------- */
.new-todo-section {
	display: flex;
	justify-content: center;
	border-radius: 5px;
	margin: 2rem 0 1rem 0;
	width: 20rem;
	background: var(--lt-very-light-grey);
}
.todo-text-box {
	background: var(--lt-very-light-grey);
	width: 15rem;
	height: 2.75rem;
	border: none;
	padding: 1em;
	font-size: 0.85em;
}
.submit-btn {
	background: var(--lt-very-light-grey);
	border: none;
	font-size: 1.25em;
	width: 2.5rem;
	margin-left: 13px;
	border-radius: 3px;
	cursor: pointer;
}

.todo-container {
	font-size: 0.9rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-radius: 5px;
	background: var(--lt-very-light-grey);
	width: 20rem;
	margin: 1rem 0 1rem 0;
}

.todo,
.default-message {
	color: var(--lt-very-dark-GB);
	display: flex;
	/* justify-content: center; */
	padding: 1rem;
	min-height: 60px;
	border-bottom: 1px solid var(--lt-very-light-grey);
}

.default-message {
	justify-content: center;
}

.checkbox {
	/* 0.15rem 0.5rem */
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	width: 1.3rem;
	height: 1.3rem;
	border-radius: 50%;
	/* vertical-align: middle; */
	appearance: none;
	border: 1px solid #ddd;
	appearance: none;
	-webkit-appearance: none;
	outline: none;
	cursor: pointer;
}

.checkbox.checked {
	background: no-repeat url(../images/icon-check.svg) center/60%,
		-webkit-gradient(linear, left top, left bottom, from(#57ddff), to(#c058f3));
	background: no-repeat url(../images/icon-check.svg) center/60%,
		linear-gradient(to bottom, #57ddff, #c058f3);
}

.todo-text {
	flex-grow: 1;
	margin-top: 3px;
}

.todo-text.complete {
	text-decoration: line-through;
}

.delete-todo-btn {
	width: 0.95rem;
	background-image: url(../images/icon-cross.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-color: transparent;
	border: none;
	margin-left: 3rem;
	margin-top: 3px;
	cursor: pointer;
}

.list-status {
	display: flex;
	justify-content: space-between;
	padding: 1rem;
	font-size: 0.85rem;
	color: var(--lt-light-GB);
}

.clear-todo-btn {
	border: none;
	cursor: pointer;
	background: var(--lt-very-light-grey);
	color: var(--lt-light-GB);
}

.todo-actions {
	background: var(--lt-very-light-grey);
	font-size: 0.95em;
	font-weight: 700;
	display: flex;
	justify-content: center;
	column-gap: 1.5rem;
	width: 20rem;
	padding: 1rem;
	border-radius: 5px;
	margin: 2rem 0 1rem 0;
}

.action {
	cursor: pointer;
}
.active {
	color: var(--lt-bright-blue);
}
