/* ------------BASE---------------------- */
html {
	box-sizing: border-box;
	font-family: "Overpass", sans-serif;
	font-size: 16px;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	overflow-x: hidden;
}

a {
	text-decoration: none;
	color: #fff;
}

nav {
	width: 100%;
	margin: auto;
}

.top-lvl-link,
.blogr-big-nav {
	display: inline-block;
	padding: 15px;
	justify-content: baseline;
}

.nav-list .top-lvl-link {
	margin-top: 15px;
}

header {
	background: url(/blogr/images/bg-pattern-intro.svg),
		linear-gradient(0.25turn, #ff846d, #ff4d5a);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 500px;
	border-bottom-left-radius: 150px;
	color: #fff;
}

/* ------------BASE---------------------- */
/* ------------NAVIGATION BAR---------------------- */
.nav-list {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: auto 0.25fr;
	width: 85%;
	margin: auto;
}

.blogr-big-nav {
	font-weight: 600;
	font-size: 3rem;
	width: 125px;
}

.nav-list-btn {
	list-style: none;
	position: relative;
	justify-self: end;
}

.dropdown,
.dropdown-menu {
	list-style: none;
	width: 60%;
}

.dropdown-menu {
	background: #f1c01ba9;
	font-family: "Ubuntu", sans-serif;
	font-weight: 400;
	list-style: none;
	padding: 10px;
	visibility: hidden;
}

.dropdown-menu li {
	margin-top: 5px;
}

/* ------------NAVIGATION BAR---------------------- */

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header-title {
	font-size: 3rem;
}

.header-subline {
	text-align: center;
}
/* .title-subline,
.header-btns {
	max-width: 45%;
	justify-self: center;
} */

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
